.bus_page {
	.page_container {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	section {
		width: 90%;
		margin: 0 auto;
	}
	.tabs_slider {
		ul {
			list-style: none;
		}
		.nav {
			margin-bottom: $base-line-height * 2;
			ul {
				width: 100%;
				display: table;
				li {
					display: table-cell;
					background-color: $light_background;
					position: relative;
					text-align: center;
					font-size: 1.25em;
					line-height: $base-line-height * 2;
					cursor: pointer;
					span.flag {
						display: block;
						width: 100%;
						margin-top: $base-line-height * .75;
						height: $base-line-height * 2;
						background-position: center;
						background-repeat: no-repeat;
						background-size: auto 100%;
						min-width: $base-line-height * 4;
					}
					span.flag#flag-us { background-image: url('/img/flags/us.png') }
					span.flag#flag-uk { background-image: url('/img/flags/uk.png') }
					span.flag#flag-ire { background-image: url('/img/flags/ire.png') }
					span.flag#flag-esp { background-image: url('/img/flags/esp.png') }
					span.flag#flag-sa { background-image: url('/img/flags/sa.png') }
					span.flag#flag-int { background-image: url('/img/flags/int.png') }
					span.flag#flag-ger { background-image: url('/img/flags/ger.png') }
				}
				li + li {
					border-left: 2px solid $white;
				}
				li.active {
					background: $stone_grey;
					color: $white;
					span:last-child {
						display: block;
						position: absolute;
						z-index: 5;
						bottom: -$base-line-height/1.5;
						width: 0;
						height: 0;
						left: 50%;
						margin-left: -$base-line-height/1.5;
						border-style: solid;
						border-width: $base-line-height/1.5 $base-line-height/1.5 0 $base-line-height/1.5;
						border-color: $stone_grey transparent transparent transparent;
					}
				}
			}
		}
		.slide {
			float: left;
			.col-left {
				width: 30%;
				padding: 0 $base-line-height;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				float: right;
				.image {
					width: 100%;
					border-radius: $base-line-height;
					-webkit-border-radius: $base-line-height;
					-moz-border-radius: $base-line-height;
					margin-bottom: $base-line-height;
					overflow: hidden;
					img {
						width: 100%;
						display: block;
					}
				}
				p.caption {
					font-size: .75em;
					line-height: $base-line-height * .75;
				}
				ul {
					li {
						text-align: center;
						width: 100%;
						img {
							width: 70%;
							display: block;
							margin: 0 auto;
						}
					}
					li + li {
						border-top: 1px solid $light_background;
						margin-top: $base-line-height / 2;
						padding-top: $base-line-height /2;
					}
				}
			}	
			.col-right {
				width: 70%;
				float: left;
				p.lead {
					font-size: 1.25em;
					line-height: $base-line-height * 1.25;
				}
				p:not(.lead) {
					text-align: justify;
				}
			}
		}
	}
}
#bus_01_page {
	
	.page_container {
		padding-top: $base-line-height * 2;
		> div:first-child {
			width: 90%;
			margin: 0 auto;
			h1 {
				padding-bottom: $base-line-height * 2;
			}
		}
	}

	#sec_1 {
		width: 100%;
		.mod_shared_banner {
			background-image: url('/img/grass-background.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
			.slide {
				/*height: $base-line-height * 25;*/
				//@include trans-background-moss-green(.5);
				padding: $base-line-height * 2 0;
				.contents {
					> div {
						padding: 0 $base-line-height;
						h2 {
							color: $white;
							margin-top: 0;
							color: $meadow_green;
						}
						p:not(.TextIntroCopy) {
							color: $white;
							border: none;
						}
						p.TextIntroCopy {
							font-size: 1.25em;
							line-height: $base-line-height * 1.25;
							color: $white;
							border: none;
							padding-top: 0;
						}
					}
				}
			}
			.slide:first-child {
				.contents {
					> div {
						padding-left: 0;
					}
				}
			}
			.slide:last-child {
				.contents {
					ul {
						padding: 0;
						margin-top: 0;
						list-style: none;
						display: table;
						width: 100%;
						li.circle {
							display: table-cell;
							width: 20%;
							vertical-align: middle;
							text-align: center;
							span {
								display: inline-block;
								background-color: $meadow_green;
								width: 100%;
								padding: 40% $base-line-height / 2;
								border-radius: $base-line-height;
								-webkit-border-radius: $base-line-height;
								-moz-border-radius: $base-line-height;
								box-sizing: border-box;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								overflow: hidden;
								text-align: center;
								color: $white;
								font-size: 1.25em;
								line-height: $base-line-height * 1.25;
							}
						}
						li.arrow {
							display: table-cell;
							width: 6.6666%;
							color: $white;
							text-align: center;
							font-size: 1.75em;
							vertical-align: middle;
						}
					}
				}
			}
			.mod_shared_ico_txt {
				display: table-cell;
				width: 20%;
				span {
					color: $meadow_green;
					font-size: 4em;
					line-height: $base-line-height * 4;
					height: $base-line-height * 4;
				}
				p {
					color: $white;
					font-size: 1.125em;
					line-height: $base-line-height * 1.125;
				}
			}
			.mod_shared_ico_txt + .mod_shared_ico_txt {
				border-left: 1px solid $meadow_green;
			}
		}
	}
	#sec_2 {
		.mod_bus_con {
			> div:nth-child(2) {
				border-top: 1px solid $meadow_green;
				border-bottom: 1px solid $meadow_green;
				padding: $base-line-height * 2 0;
				height: $base-line-height * 30;
				img {
					height: 100%;
					display: block;
					margin: 0 auto;
				}
			}
			h2 {
				margin-top: $base-line-height * 2;
			}
			h2:nth-child(3) {
				margin-top: $base-line-height;
			}
			> div:last-child {
				img {
					width: 100%;
					display: block;
				}
			}
		}
		
	}
}
#bus_03_page {
	.page_container {
		padding-top: $base-line-height * 2;
		> div:first-child {
			width: 90%;
			margin: 0 auto;
			h1 {
				padding-bottom: $base-line-height * 2;
			}
		}
	}
	.mod_shared_banner {
		background-repeat: no-repeat;
		background-size: 110% auto;
		background-position: center center;
	}
	#sec_1, #sec_4, #sec_7 {
		width: 100%;
		.mod_shared_banner {
			.slide:first-child {
				.contents {
					> div {
						width: 50%;
						background-color: rgba(255, 255, 255, .85);
						padding: $base-line-height;
						border-radius: $base-line-height;
						-webkit-border-radius: $base-line-height;
						-moz-border-radius: $base-line-height;
						h2 {

						}
						p {
							/*color: $white;*/
							font-size: 1.25em;
							line-height: $base-line-height * 1.25;
							/*text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);*/
						}
					}
					
				}
				
			}
			.slide {
				height: $base-line-height * 25;
			}
			.slide:last-child {
				@include trans-background-moss-green(.9);
			}
			.mod_shared_ico_txt {
				display: table-cell;
				width: 33%;
				span {
					color: $meadow_green;
				}
				p {
					color: $white;
				}
			}
			.mod_shared_ico_txt + .mod_shared_ico_txt {
				border-left: 1px solid $meadow_green;
			}
		}
	}
	#sec_2, #sec_3, #sec_4, #sec_5, #sec_6, #sec_7, #sec_8 {
		margin-top: $base-line-height * 2;
	}
	#sec_1 {
		.mod_shared_banner {
			background-image: url('/img/g-bus-1.jpg');
		}
	}
	#sec_4 {
		.mod_shared_banner {
			background-image: url('/img/g-bus-2.jpg');
		}
	}
	#sec_7 {
		.mod_shared_banner {
			background-image: url('/img/g-bus-3.jpg');
		}
	}
}
#bus_04_page, #bus_05_page {
	#sec_1 {
		width: 100%;
		.mod_shared_banner {

			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center center;

			.slide {
				height: $base-line-height * 22;
				.content_box_1 {
					width: 50%;
				}
			}
			p.TextPullQuote {
				color: $grass_green;
			}
			.slide:last-child {
				@include trans-background-moss-green(.9);	
			}
		}
	}
	#sec_2 {
		padding-top: $base-line-height * 2;
	}
}
#bus_04_page {
	#sec_1 {
		.mod_shared_banner {
			background-image: url('/img/chairman-photo.jpg');
		}
	}
}
#bus_05_page {
	#sec_1 {
		.mod_shared_banner {
			background-image: url('/img/ceo-photo.jpg');
		}
	}
}
#bus_06_page {
	.page_container {
		padding-top: $base-line-height * 2;
	}
	#sec_1 {
		p.TextIntroCopy {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	#sec_2 {
		.banner_image {
			img {
				width: 100%;
				display: block;
			}
		}
	}
	#sec_4 {
		width: 100%;
		background: $light_background;
		margin-top: $base-line-height * 2;
		.mod_bus_con {
			
			width: 90%;
			margin: 0 auto;
			padding: $base-line-height * 2 0;
			
			.wrapper {
				.row {
					.item {
						padding-top: $base-line-height / 2;
						span {
							display: block;
						}
						span:first-child{
							font-size: 1.25em;
							line-height: $base-line-height * 1.25;
						}
						span:nth-child(2) {
							font-weight: 700;
							font-size: 1.125em;
							color: $grass_green;
						}
						span:last-child {

						}
					}
					.item {
						margin-top: $base-line-height / 2;
						border-top: 1px solid $white;
					}
				}
				.row:first-child {
					.item:first-child {
						margin-top: 0;
						border-top: none;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 64em) {
	#bus_01_page {
		#sec_1 {
			.mod_shared_banner {
				.slide {
					.contents {
						> div {
							.col-left, .col-right {
								float: left;
								width: 48%;
							}
							.col-right {
								float: right;
							}
						}
					}
				}
			}
		}
		#sec_2 {
			.mod_bus_con {
				> div:nth-child(2) {
					height: $base-line-height * 35;
				}
			}
		}
	}
	#bus_06_page {
		#sec_4 {
			.mod_bus_con {
				.wrapper {
					.row {
						clear: both;
						.item {
							width: 48%;
							float: left;
						}
						.item:last-child {
							float: right;
						}
					}
					.row:first-child {
						.item:last-child {
							margin-top: 0;
							border-top: none;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 75em) {
	.bus_page {

	}
	#bus_01_page {
		.page_container {
			> div:first-child {
				width: $max_width;
				h1 {
					width: 80%;
					margin: 0 auto;
				}
			}
		}
		#sec_1 {
			.mod_shared_banner {
				.slide {
					.contents {
						> div {
							width: 80%;
							margin: 0 auto;
							padding: 0;
							h2 {
								font-size: 2em;
								line-height: $base-line-height * 2;
								
							}
							p:not(.TextIntroCopy) {
								color: $white;
								border: none;
							}
							p.TextIntroCopy {
								font-size: 1.5em;
								line-height: $base-line-height * 1.5;
							}
						}
					}
				}
				.slide:last-child {
					.contents {
						ul {
							padding: $base-line-height/2 0;
							li.arrow {
								font-size: 2.5em;
							}
							li.circle {
								span {
									font-size: 1.5em;
									line-height: $base-line-height * 1.5;
								}
							}
						}
					}
				}
				.mod_shared_ico_txt {
					span {
						color: $meadow_green;
						font-size: 5em;
						line-height: $base-line-height * 5;
						height: $base-line-height * 5;
					}
					p {
						font-size: 1.25em;
						line-height: $base-line-height * 1.25;
					}
				}
			}
		}
		#sec_2 {
			width: $max_width;
			.mod_bus_con {
				h2 {
					width: 80%;
					margin: 0 auto;
				}
				h2:first-child {
					margin-top: $base-line-height * 2;
				}
				> div:nth-child(2) {
					width: 80%;
					margin: 0 auto;
				}
			}
		}
	} 
	#bus_04_page, #bus_05_page {
		#sec_1 {
			.slide {
				.content_box_1,
				.content_box_2 {
					width: 80% !important;
					margin: 0 auto;
					p {
						width: 60%;
					}
				}
			}
		}
		#sec_2 {
			width: $max_width;
			.mod_bus_con {
				width: 80%;
				margin: 0 auto;
				padding-bottom: $base-line-height * 2;
			}
		}
	}
	#bus_06_page {
		.page_container {
			width: $max_width;
		}
		#sec_1, #sec_3 {
			width: 80%;
		}
		#sec_2 {
			width: 100%;
		}
		#sec_4 {
			width: 100%;
			background: $white;
			margin-top: $base-line-height * 2;
			padding-bottom: $base-line-height * 2;
			.mod_bus_con {
				width: 80%;
				padding: $base-line-height * 2;
				background: $light_background;
				border-radius: $base-line-height;
				-webkit-border-radius: $base-line-height;
				-moz-border-radius: $base-line-height;
				.wrapper {
					.row {
						clear: both;
						.item {
							width: 48%;
							float: left;
						}
						.item:last-child {
							float: right;
						}
					}
					.row:first-child {
						.item:last-child {
							margin-top: 0;
							border-top: none;
						}
					}
				}
			}
		}
	}
}